asgiref==3.9.1
autopep8==2.3.2
certifi==2025.6.15
charset-normalizer==3.4.2
crispy-bootstrap5==2025.6
Django==5.2.5
django-allauth==65.12.1
django-crispy-forms==2.4
django-pwa==2.0.1
idna==3.10
jpype1==1.5.2
line_profiler==4.2.0
ngrok==1.4.0
numpy==2.3.1
packaging==25.0
pillow==11.3.0
py5==0.10.6a0
pycodestyle==2.14.0
pywin32==310
requests==2.32.4
sqlparse==0.5.3
stackprinter==0.2.12
tzdata==2025.2
urllib3==2.5.0
